@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.example-roboto {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.example-roboto-mono {
  font-family: Roboto Mono, sans-serif;
  font-weight: 300;
  font-style: italic;
}

.example-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  position: relative;
}

h1 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  padding: 12px 0;
}

h2 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.3rem;
  margin: 0 12px;
  color: primary;
  margin-bottom: 32px;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
    max-width: 650px;
  }
}

h3 {
  color: #16161d;
}

.typed-text {
  font-family: Roboto Mono, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #16161d;
}

header {
  width: 100%;
  background-color: #f5f5f5;
  position: relative;
  border: 1px #ebebeb solid;
  border-radius: 0 0 60px 60px;
}
header .container {
  max-width: 1440px;
  margin: 0 12px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 12px;
  max-width: 400px;
  padding: 100px 0;
}
@media (min-width: 768px) {
  .hero {
    margin: 0 auto;
  }
}
.hero__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
@media (min-width: 768px) {
  .hero__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.hero__buttons__light {
  background-color: #fff;
  color: #16161d;
  padding: 12px 20px;
  border: 4px solid #ebebeb;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 0.75rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.hero__buttons__light:hover {
  background-color: #e6e6e6;
  border-color: #d2d2d2;
}
.hero__buttons__dark {
  background-color: #16161d;
  color: #ebebeb;
  padding: 12px 20px;
  border: 4px solid #ebebeb;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 0.75rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.hero__buttons__dark:hover {
  background-color: black;
  border-color: #d2d2d2;
}
.hero .portrait {
  width: 150px;
  height: 150px;
  background-image: url("../../assets/portrait.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 4px solid #fff;
}

.hero__content__ityped {
  height: 30px;
}

@media (min-width: 768px) {
  .button {
    flex: 1;
  }
}

.nav {
  background-color: #f5f5f5;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 24px;
  gap: 12px;
}
.nav ul li {
  list-style-type: none;
}
.nav ul li a,
.nav ul li span {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
}
.nav ul li a {
  position: relative;
  text-decoration: none;
  color: #16161d;
}
.nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #16161d;
  transition: width 0.3s ease;
}
.nav ul li a:hover::after {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 40px 0;
  gap: 32px;
}
@media (min-width: 768px) {
  section {
    padding: 52px 0;
  }
}
section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.company {
  width: 100%;
  background-color: #fff;
}
.company .container {
  max-width: 1440px;
  margin: 0 12px;
}
.company__logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 50px;
}
@media (min-width: 768px) {
  .company__logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px 0;
  }
}
.company__logos__container {
  width: 100px;
}
@media (min-width: 768px) {
  .company__logos__container {
    height: 30px;
    width: auto;
  }
}

.projects {
  width: 100%;
  background-color: #fff;
}
.projects .container {
  max-width: 1440px;
  margin: 0 12px;
}
.projects__details {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 1024px) {
  .projects__details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.projects__details h3 {
  font-family: Roboto Mono, sans-serif;
  font-weight: 300;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  z-index: 5;
}
.projects__details__container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  flex: 1 1 100%;
  transition: opacity 0.8s ease;
  z-index: 2;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
  transition: box-shadow 0.5s ease;
  filter: grayscale(70%);
}
@media (min-width: 768px) {
  .projects__details__container {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
  }
}
.projects__details__container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease;
  z-index: 5;
  pointer-events: none;
}
.projects__details__container .link-content {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: none;
  transition: display 0.8s ease;
}
.projects__details__container .link-content .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  margin-left: 5px;
}
.projects__details__container .card-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  text-decoration: none;
  z-index: 1;
}
.projects__details__container .card-link img {
  width: 100%;
  height: auto;
  display: block;
}
.projects__details__container:hover {
  filter: grayscale(10%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.contact {
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-radius: 60px 60px 0 0;
  width: 100%;
  margin: 0 auto;
}
.contact .container {
  max-width: 1440px;
  margin: 0 12px;
}
@media (min-width: 768px) {
  .contact {
    padding: 120px 0;
  }
}
.contact .container {
  width: 100%;
  max-width: 400px;
}
.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  gap: 20px;
}
@media (min-width: 768px) {
  .contact__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.contact .button-gmail,
.contact .button-whatsapp {
  margin: 0 12px;
}
@media (min-width: 768px) {
  .contact .button-gmail,
  .contact .button-whatsapp {
    margin: 0 0;
  }
}
.contact .button-gmail {
  background-color: #16161d;
  color: #ebebeb;
  padding: 12px 20px;
  border: 4px solid #ebebeb;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 0.75rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.contact .button-gmail:hover {
  background-color: black;
  border-color: #d2d2d2;
}
.contact .button-whatsapp {
  background-color: #fff;
  color: #16161d;
  padding: 12px 20px;
  border: 4px solid #ebebeb;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 0.75rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.contact .button-whatsapp:hover {
  background-color: #e6e6e6;
  border-color: #d2d2d2;
}

footer {
  padding: 40px 0;
  background-color: #f5f5f5;
}
footer .nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (min-width: 768px) {
  footer .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
footer .nav ul span {
  display: none;
}
@media (min-width: 768px) {
  footer .nav ul span {
    display: block;
  }
}

.cover-detail {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.cover-detail img {
  width: 100%;
}

.projects-detail {
  width: 100%;
  background-color: #f5f5f5;
  position: relative;
  border-bottom: 1px #ebebeb solid;
  border-radius: 0 0 60px 60px;
  padding: 40px 0;
}
.projects-detail .container {
  max-width: 1440px;
  margin: 0 12px;
}
@media (min-width: 1024px) {
  .projects-detail .container {
    margin: 0 auto;
  }
}
.projects-detail .button {
  margin: 0 auto;
}
@media (min-width: 500px) {
  .projects-detail .button {
    max-width: 190px;
    flex: unset;
  }
}
@media (min-width: 768px) {
  .projects-detail .button {
    max-width: 190px;
    flex: unset;
  }
}

.project-detail-resume {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 auto;
}
.project-detail-resume .container {
  max-width: 1440px;
  margin: 0 12px;
}
.project-detail-resume h1 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #16161d;
  font-size: 3rem;
  padding: 40px 0;
}
.project-detail-resume h2 {
  font-family: Roboto Mono, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
}
.project-detail-resume p {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 28px;
  max-width: 700px;
  display: block;
  margin: 0 auto;
  padding-bottom: 32px;
}
.project-detail-resume .img-container {
  width: 100%;
}
.project-detail-resume .img-container img {
  width: 100%;
}
.project-detail-resume .link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 40px 0;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .project-detail-resume .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    max-width: 400px;
    gap: 20px;
  }
}
.project-detail-resume .link .button {
  flex: 1;
}

.detail-footer {
  border: 1px #ebebeb solid;
  border-radius: 60px 60px 0 0;
}