@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.example-roboto {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.example-roboto-mono {
  font-family: Roboto Mono, sans-serif;
  font-weight: 300;
  font-style: italic;
}

.example-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  position: relative;
}

h1 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  padding: 12px 0;
}

h2 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.3rem;
  margin: 0 12px;
  color: primary;
  margin-bottom: 32px;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  color: #16161d;
}

.typed-text {
  font-family: Roboto Mono, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #16161d;
}

header {
  width: 100%;
  background-color: #f5f5f5;
  position: relative;
  border: 1px #ebebeb solid;
  border-radius: 0 0 60px 60px;
}
header .container {
  max-width: 1440px;
  margin: 0 12px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 12px;
  max-width: 400px;
  padding: 100px 0;
}
@media (min-width: 768px) {
  .hero {
    margin: 0 auto;
  }
}
.hero__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
@media (min-width: 768px) {
  .hero__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.hero__buttons__light {
  background-color: #fff;
  color: #16161d;
  padding: 12px 20px;
  border: 4px solid #ebebeb;
  border-radius: 70px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 0.75rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.hero__buttons__light:hover {
  background-color: #e6e6e6;
  border-color: #d2d2d2;
}
.hero__buttons__dark {
  background-color: #16161d;
  color: #ebebeb;
  padding: 12px 20px;
  border: 4px solid #ebebeb;
  border-radius: 70px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 0.75rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.hero__buttons__dark:hover {
  background-color: black;
  border-color: #d2d2d2;
}
.hero .portrait {
  width: 150px;
  height: 150px;
  background-image: url("../../assets/portrait.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 4px solid #fff;
}

.hero__content__ityped {
  height: 30px;
}

@media (min-width: 768px) {
  .button {
    flex: 1;
  }
}

.nav {
  background-color: #f5f5f5;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 24px;
  gap: 12px;
}
.nav ul li {
  list-style-type: none;
}
.nav ul li a,
.nav ul li span {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
}
.nav ul li a {
  position: relative;
  text-decoration: none;
  color: #16161d;
}
.nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #16161d;
  transition: width 0.3s ease;
}
.nav ul li a:hover::after {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 100px 0;
  gap: 32px;
}
section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.company {
  width: 100%;
  background-color: #fff;
}
.company .container {
  max-width: 1440px;
  margin: 0 12px;
}
.company__logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 50px;
}
@media (min-width: 768px) {
  .company__logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.company__logos__container {
  width: 100px;
}
@media (min-width: 768px) {
  .company__logos__container {
    height: 30px;
    width: auto;
  }
}

.infos {
  position: absolute;
  bottom: 0;
  z-index: 2;
  height: 0;
  width: 100%;
  transition: height 0.8s ease;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0.8) 90%, rgba(255, 255, 255, 0.9) 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.projects {
  width: 100%;
  background-color: #fff;
}
.projects .container {
  max-width: 1440px;
  margin: 0 12px;
}
.projects__details {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 1024px) {
  .projects__details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.projects__details h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  font-size: 1.2rem;
  z-index: 5;
  transition: display 0.8s ease;
}
@media (min-width: 768px) {
  .projects__details h3 {
    display: none;
  }
}
.projects__details__container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  flex: 1 1 100%;
  transition: opacity 0.8s ease;
  z-index: 2;
  filter: grayscale(70%);
}
@media (min-width: 500px) {
  .projects__details__container {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}
@media (min-width: 1024px) {
  .projects__details__container {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
  }
}
.projects__details__container .link-content {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: none;
  transition: display 0.8s ease;
}
.projects__details__container .link-content .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  margin-left: 5px;
}
.projects__details__container .card-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  text-decoration: none;
}
.projects__details__container .card-link img {
  width: 100%;
  height: auto;
  display: block;
}
.projects__details__container:hover {
  filter: grayscale(10%);
}
.projects__details__container:hover h3,
.projects__details__container:hover .link-content {
  display: block;
}
.projects__details__container:hover .infos {
  height: 80px;
}
.projects__details__container:hover .arrow {
  transform: translateX(5px);
}

.contact {
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-radius: 60px 60px 0 0;
  width: 100%;
  margin: 0 auto;
}
.contact .container {
  max-width: 1440px;
  margin: 0 12px;
}
.contact .container {
  width: 100%;
  max-width: 400px;
}
.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  gap: 20px;
}
@media (min-width: 768px) {
  .contact__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.contact .button-gmail,
.contact .button-whatsapp {
  margin: 0 12px;
}
@media (min-width: 768px) {
  .contact .button-gmail,
  .contact .button-whatsapp {
    margin: 0 0;
  }
}
.contact .button-gmail {
  background-color: #16161d;
  color: #ebebeb;
  padding: 12px 20px;
  border: 4px solid #ebebeb;
  border-radius: 70px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 0.75rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.contact .button-gmail:hover {
  background-color: black;
  border-color: #d2d2d2;
}
.contact .button-whatsapp {
  background-color: #fff;
  color: #16161d;
  padding: 12px 20px;
  border: 4px solid #ebebeb;
  border-radius: 70px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 0.75rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.contact .button-whatsapp:hover {
  background-color: #e6e6e6;
  border-color: #d2d2d2;
}

footer {
  padding: 40px 0;
  background-color: #f5f5f5;
}
footer .nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (min-width: 768px) {
  footer .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
footer .nav ul span {
  display: none;
}
@media (min-width: 768px) {
  footer .nav ul span {
    display: block;
  }
}