
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary: #16161d;
$secondary: #F2A032;
$white: #fff;
$light-grey: #ebebeb;
$grey: #f5f5f5;

///////////////// FONT /////////////////
@mixin google-font($family: "Roboto", $weight: 400, $italic: false) {
  font-family: #{$family}, sans-serif;
  font-weight: $weight;
  font-style: if($italic, italic, normal);
}

// Exemple d'utilisation de la mixin
.example-roboto {
  @include google-font("Roboto", 700, false);
}

.example-roboto-mono {
  @include google-font("Roboto Mono", 300, true);
}

  ///////////////// BREAKPOINT /////////////////

@mixin responsive($device) {
  @if $device == 'mobile' {
      @media (max-width: 767px) {
          @content;
      }
  } @else if $device == 'mobile-intermediate' {
      @media (min-width: 500px) {
          @content;
      }
  } @else if $device == 'tablet' {
    @media (min-width: 768px) {
        @content;
    }
}
  @else if $device == 'desktop' {
      @media (min-width: 1024px) {
          @content;
      }
  }
}

  ///////////////// FLEXBOX /////////////////
 
  @mixin flexbox(
  $direction: row, 
  $justify: flex-start, 
  $align: stretch, 
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
.example-container {
  @include flexbox(column, center, center, wrap);
}

  ///////////////// BUTTONS /////////////////

@mixin button(
  $bg-color: $primary,
  $text-color: $light-grey,
  $border-color: $text-color,
  $hover-bg-color: darken($bg-color, 10%)
) {
  background-color: $bg-color;
  color: $text-color;
  padding: 12px 20px;
  border: 4px solid $border-color;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 0.75rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &:hover {
    background-color: $hover-bg-color;
    border-color: darken($border-color, 10%);
  }
}

@mixin full-width-section($background-color: $primary) {
  width: 100%;
  background-color: $background-color;

  .container {
    max-width: 1440px;
    margin: 0 12px;
  }
}

 ///////////////// CODE /////////////////
 ///////////////// CODE /////////////////
 ///////////////// CODE /////////////////
* {
  margin: 0;
  padding: 0;
}
body {
    @include google-font("Roboto", 400, false);
    margin: 0 auto;
    position: relative;
}
h1 {
    @include google-font("Roboto", 300, false);
    font-size: 1rem;
    padding: 12px 0;
  }
  h2 {
    @include google-font("Roboto", 700, false);
    font-size: 2.3rem;
    margin: 0 12px;
    color: primary;
    margin-bottom: 32px;
    text-align: center;
    width: 100%;
  @include responsive('tablet') {
    font-size: 2.5rem;
  }
}
h3 {
  color: $primary;
}
.typed-text {
  @include google-font("Roboto Mono", 200, false);
  color: $primary;
}
header {
  @include full-width-section($grey);
  position: relative;
  border: 1px #ebebeb solid;
  border-radius: 0 0 60px 60px;
}

.hero {
  @include flexbox(column, center, center, wrap);
  margin: 0 12px;
  max-width: 400px;
  padding: 100px 0;
  @include responsive('tablet') {
    margin: 0 auto;
  }
  &__buttons {
    @include flexbox(column, center, stretch, wrap);
    width: 100%;
    gap: 20px;
    @include responsive('tablet') {
      @include flexbox(row, center, center, wrap);
  }
    &__light {
      @include button($white, $primary, $light-grey);
    }
    &__dark {
      @include button();
    }
  }
  .portrait {
    width: 150px;
    height: 150px;
    background-image: url('../../assets/portrait.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 4px solid $white;
  }
}

  .hero__content__ityped {
    height: 30px;
  }
  .button {
      @include responsive('tablet') {
        flex: 1;
      }
  }
  .nav {
    background-color: $grey;
    ul {
      @include flexbox(row, right, center, wrap);
      padding: 12px 24px;
      gap: 12px;
      li {
        list-style-type: none;
        a,
        span {
          @include google-font("Roboto", 300, false);
          font-size: 12px;
      
        }
        a {
          position: relative;
          text-decoration: none;
          color: $primary;
          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: $primary;
            transition: width 0.3s ease;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
section {
  @include flexbox(column, center, center);
  padding: 40px 0;
  gap: 32px;
  @include responsive('tablet') {
    padding: 52px 0;
  }
  .container {
    @include flexbox(column, center, center);
  }
}
  .company {
    @include full-width-section($white);
    &__logos {
      @include flexbox(column, center, center);
      gap: 50px;
      @include responsive('tablet') {
        @include flexbox(row, center, center);
      }
      &__container {
        width: 100px;
        @include responsive('tablet') {
          height: 30px;
          width: auto;
        }
      }
    }
  }

  .projects {
    @include full-width-section($white);
    &__details {
      gap: 12px;
      display: flex; 
      flex-wrap: wrap;
      justify-content: center;
      @include responsive('desktop') {
       @include flexbox(row, center, center);
      }
      h3 {
        @include google-font("Roboto Mono", 300, true);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        margin: 0;
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        z-index: 5;

    }
      &__container {
        position: relative;
        overflow: hidden;
        max-width: 100%;
        flex: 1 1 100%;
        transition: opacity 0.8s ease;
        z-index: 2;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
        transition: box-shadow 0.5s ease;
        filter: grayscale(70%);
          @include responsive('tablet') {
          flex: 1 1 calc(25% - 20px);
          max-width: calc(25% - 20px);
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.5);
          transition: background-color 0.3s ease;
          z-index: 5;
        }
        .link-content {
          position: absolute;
          bottom: 20px;
          right: 20px;
          display: none;
          // align-items: center;
          // gap: 5px;
          // z-index: 1;
          transition: display 0.8s ease;
          .arrow {
            display: inline-block;
            transition: transform 0.3s ease;
            margin-left: 5px;
          }
        }
        .card-link {
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          text-decoration: none;
          z-index: 1;
          img {
            width: 100%;
            height: auto;
            display: block;
          }
        }
        &:hover {
          filter: grayscale(10%);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      }
      }
    } 
}

.contact {
  @include full-width-section($grey);
  border: 1px solid $light-grey;
  border-radius: 60px 60px 0 0;
  width: 100%;
  margin: 0 auto;
  .container {
    width: 100%;
    max-width: 400px;
  }
  &__container {
    @include flexbox(column, stretch, stretch);
    width: 100%;
    gap: 20px;
    @include responsive('tablet') {
      @include flexbox(row, center, center);
    }

  }
  .button-gmail,
  .button-whatsapp {
    margin: 0 12px;
    @include responsive('tablet') {
     margin: 0 0;
    }
  }
  .button-gmail {
    @include button();
  }
  .button-whatsapp {
    @include button($white, $primary, $light-grey);
  }
}

footer {
padding: 40px 0;
background-color: $grey;
.nav {
  ul {
    @include flexbox(column, center, center);
    @include responsive('tablet') {
      @include flexbox(row, center, center);
    }
    span {
      display: none;
      @include responsive('tablet') {
        display: block;
      }
    }
  }
}
}


/////////////////////////// SITE DETAIL ///////////////////////////


.cover-detail {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
  img {
    width: 100%;
  }
}
.projects-detail {
  @include full-width-section($grey);
  position: relative;
  border-bottom: 1px #ebebeb solid;
  border-radius: 0 0 60px 60px;
  padding: 40px 0;
  .container {
    @include responsive('desktop') {
      margin: 0 auto;
    }
  }
  .button {
    margin: 0 auto;
    @include responsive('mobile-intermediate') {
      max-width: 190px;
      flex: unset;
    }
    @include responsive('tablet') {
      max-width: 190px;
      flex: unset;
    }
  }
}
.project-detail-resume {
  @include full-width-section($white);
  @include flexbox(column, center, center);
  margin: 0 auto;
  h1 {
    @include google-font("Roboto", 700, false);
    text-align: center;
    color: $primary;
    font-size: 3rem;
    padding: 40px 0;
  }
  h2 {
    @include google-font("Roboto Mono", 700, false);
    font-size: 1rem;
  }
  p {
    @include google-font("Roboto", 300, false);
    font-size: 1.2rem;
    line-height: 28px;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    padding-bottom: 32px;
  }
  .img-container {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .link {
    @include flexbox(column, center, stretch);
    padding: 40px 0;
    margin: 0 auto;
    @include responsive('mobile-intermediate') {
      @include flexbox(row, center, stretch);
      max-width: 400px;
      gap: 20px;
    }
    .button {
      flex: 1;
    }
  }
}
.detail-footer {
  border: 1px #ebebeb solid;
  border-radius: 60px 60px 0 0;
}